<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137722420255-maqioquha6u8bne9n7djh6kulr2l2bno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137722420255-maqioquha6u8bne9n7djh6kulr2l2bno</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>137722420255-6iu9okledn6l5avpr4juhaq416m84l2i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCalVg7_RDoTmXe4Vse7a5M3QBVPQC943c</string>
	<key>GCM_SENDER_ID</key>
	<string>137722420255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hardik.todo.list.firebase.flutterTodoFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todolist-ed311</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-ed311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137722420255:ios:186df647d3030d1490492a</string>
</dict>
</plist>